<template>
    <div class="container">
        <b-row>
            <b-col>
                <div class="todolist not-done">
                    <h1>Todo Lists</h1>
                    <input
                            @keypress.enter="createTodolist()"
                            v-model="todolistName"
                            type="text" class="form-control add-todo" placeholder="Add todo list">
    <!--<button id="checkAll" class="btn btn-success">Mark all as done</button>-->
    <!--<input type="checkbox" value="" />-->
                    <hr>
                    <ul
                        v-if="todoLists.length > 0"
                        id="sortable" class="list-unstyled"
                    >
                        <li
                            v-for="todolist in todoLists"
                            v-bind:key="todolist.id"
                            class="ui-state-default"
                        >
                            <input
                                v-if="editActive && todolist==activeTodolist"
                                v-model="todolist.name"
                                @keypress.enter="editTodolistName(todolist)"
                            />
                            <b-btn
                                v-else
                                :variant="getActiveTodoListVariant(todolist)"
                                @click.prevent="setActiveTodoList(todolist)"
                            >{{ todolist.name }}</b-btn>
                            <b-btn
                                v-if="activeTodolist == todolist"
                                @click.prevent="editActive = !editActive"
                                variant="link">
                                Edit
                            </b-btn>
                            <b-btn
                                v-if="activeTodolist == todolist"
                                @click.prevent="deleteTododList(todolist)"
                                variant="link">
                                delete
                            </b-btn>
                        </li>
                    </ul>
                    <div class="todo-footer">
                        <!--<strong><span class="count-todos"></span></strong> Items Left-->
                    </div>
                </div>
            </b-col>
            <b-col>
                <div class="todolist"
                    v-if="activeTodolist"
                >
                    <h1>{{ activeTodolist.name }}</h1>
                    <input
                        v-model="todoText"
                        @keypress.enter="createTodo"
                        type="text" class="form-control add-todo" placeholder="Add todo">
                    <hr/>
                    <ul
                            v-if="activeTodolist.todos"
                            class="list-unstyled">
                        <li
                            v-for="todo in activeTodolist.todos"
                            v-bind:key="todo.id"
                        >
                            <b-row>
                                <b-col cols="1">
                                    <input
                                        @change="markDoneTodo(todo, $event)"
                                        :checked="todo.done"
                                        type="checkbox"
                                        value="1"  />
                                </b-col>
                                <b-col
                                    v-if="editableTodo==todo"
                                    cols="7">
                                    <input
                                        @keypress.enter="updateTodoText(todo)"
                                        v-model="todo.text"
                                        type="text"/>
                                </b-col>
                                <b-col
                                    v-else
                                    :class="{'done-items': todo.done}"
                                    class="items"
                                >
                                    {{ todo.text }}
                                </b-col>
                                <b-col cols="2">
                                    <b-button
                                        @click.prevent="editableTodo? editableTodo=null: editableTodo=todo"
                                        variant="link" size="sm">edit</b-button>
                                </b-col>
                                <b-col cols="2">
                                    <b-button
                                        @click.prevent="deleteTodo(todo)"
                                        variant="link" size="sm">Delete</b-button>
                                </b-col>
                            </b-row>
                        </li>
                    </ul>
                </div>
            </b-col>
        </b-row>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    name: "index",
    props: {
        endpoint: {
            type: String,
            default: 'http://localhost:8000/'
        }
    },
    data() {
      return{
          todoLists: [],
          activeTodolist: null,
          todolistName: "",
          editActive: false,
          todoText: "",
          editableTodo: null,
      }
    },
    methods:{
        getActiveTodoListVariant(todolist) {
            if (todolist === this.activeTodolist) {
                return "success"
            } else {
                return "outline-success"
            }
        },
        setActiveTodoList(todolist) {
            this.activeTodolist = todolist
        },
        fetchTasks() {
            const result = this.makeQuery('get', 'api/todolists/', {});
            result.then((response) => {
                if (response.data.length >0) {
                    this.todoLists = response.data;
                    this.activeTodolist = response.data[0]
                }
            })
        },
        createTodolist() {
            if (this.todolistName !== "") {
                const result = this.makeQuery('post', 'api/create-todolist/', {name:this.todolistName});
                result.then((response) => {
                    this.todoLists.push(response.data);
                    this.activeTodolist = response.data;
                    this.todolistName = ""
                })
            }
        },
        editTodolistName(todolist) {
            if (todolist.name !== "") {
                const result = this.makeQuery('put', 'api/update-todolist/' + todolist.id + '/', {name:todolist.name});
                result.then(() => {
                    this.editActive = false
                })
            }
        },
        deleteTododList(todolist) {
            const result = this.makeQuery('delete', 'api/delete-todolist/' + todolist.id + '/', {});
            result.then(() => {
                const index = this.todoLists.indexOf(todolist);
                this.todoLists.splice(index, 1)
                this.activeTodolist = this.todoLists.length > 0 ? this.todoLists[0] : null
            })
        },
        createTodo() {
            if (this.todoText !== "") {
                const result = this.makeQuery('post', 'api/create-task/', {text:this.todoText, todolist:this.activeTodolist.id});
                result.then((response) => {
                    this.updateTodosInList(this.activeTodolist, response.data)
                })
            }
        },
        markDoneTodo(todo, e) {
            todo.done = e.target.checked
            this.updateTodo(todo)
        },
        updateTodoText(todo) {
            this.updateTodo(todo)
        },
        updateTodo(todo) {
            const result = this.makeQuery('put', 'api/update-task/' + todo.id + '/', todo);
            result.then((response) => {
                todo = response.data;
                this.editableTodo = null
            })
        },
        deleteTodo(todo) {
            const result = this.makeQuery('delete', 'api/delete-task/' + todo.id + '/');
            result.then(() => {
                const todoIndex = this.activeTodolist.todos.indexOf(todo)
                this.activeTodolist.todos.splice(todoIndex, 1)
            })
        },
        updateTodosInList(todolist, todo) {
            const todoInListIndex = this.todoLists.indexOf(this.activeTodolist)
            this.todoLists[todoInListIndex].todos.push(todo)
            this.todoText = ""
        },
        async makeQuery(method, url, data) {
            let result;
            if (method === 'get'){
                result = await axios.get(this.endpoint + url, data)
            } else if (method === 'post') {
                result = await axios.post(this.endpoint + url, data)
            } else if (method === 'put') {
                result = await axios.put(this.endpoint + url, data)
            } else if (method === 'delete') {
                result = await axios.delete(this.endpoint + url, data)
            } else {
                result = {}
            }
            return result
        }
    },
    mounted() {
        this.fetchTasks()
    }
}
</script>